In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("csv/All-seasons.csv")

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

  Season Episode Character                                               Line
0     10       1      Stan         You guys, you guys! Chef is going away. \n
1     10       1      Kyle                        Going away? For how long?\n
2     10       1      Stan                                         Forever.\n
3     10       1      Chef                                  I'm sorry boys.\n
4     10       1      Stan  Chef said he's been bored, so he joining a gro...

In [5]:
df_final = df[(df['Episode']== "1") | (df['Episode']== "2") | (df['Episode']== "3") ]

#df_final

In [6]:
df_final = df_final[df_final["Season"] == "10"]
df_final

,Season,Episode,Character,Line
0,10,1,Stan,"You guys, you guys! Chef is going away. \n"
1,10,1,Kyle,Going away? For how long?\n
2,10,1,Stan,Forever.\n
3,10,1,Chef,I'm sorry boys.\n
4,10,1,Stan,"Chef said he's been bored, so he joining a gro..."
...,...,...,...,...
735,10,3,Announcer,As an entire nation buries its head in sand... \n
736,10,3,SNN Anchor,The idea has swept the nation! But where will ...
737,10,3,Announcer,...and the battle between Good and Evil is fin...
738,10,3,Cartman,"Kyle, quit it! Stop it, Kyle!\n"
739,10,3,Announcer,Will the cartoon be allowed to appear uncensor...

In [7]:
df_final["Line"] = df_final.Line.apply(lambda x :x[:-2])
df_final.head()

  Season Episode Character                                               Line
0     10       1      Stan            You guys, you guys! Chef is going away.
1     10       1      Kyle                           Going away? For how long
2     10       1      Stan                                            Forever
3     10       1      Chef                                     I'm sorry boys
4     10       1      Stan  Chef said he's been bored, so he joining a gro...

In [8]:
df_character = df_final

In [9]:
df_character = df_character.drop(['Season', 'Line'], axis=1)
df_character.head()

  Episode Character
0       1      Stan
1       1      Kyle
2       1      Stan
3       1      Chef
4       1      Stan

In [10]:
df_character = df_character.drop_duplicates(['Character'], keep='last')

In [11]:
df_character["Character"].unique()

array(['A Man', 'A Sign-Holder', 'Patrons', 'Townsfolk', 'A Boy',
       'The Class', 'Det. Jarvis', 'Butler', 'Head Adventurer',
       'Club Members', 'Marine', 'Nurse', 'Stripper', 'Blonde',
       'Dr. Neeland', 'Spontaneous Bootay', 'Guard 1', 'Guard 2',
       'William', 'The Boys', 'Marksman', 'Chef', 'Tech', 'Darth Chef',
       'Mr. Connolly', 'Driver', 'Darryl', 'Token', 'Craig', 'Man 2',
       'Gerald and Sheila', 'DJ', 'Customer', 'Driver 1', 'Driver 2',
       'Driver 3', 'Speaker', 'An officer', 'Anchor Tom', 'Singer',
       'Paul', 'Gail', 'Alan', 'Boy 1', 'Boy 2', 'Attendant',
       'Ranger McFriendly', 'Keenan', 'Butters', 'Network Anchor',
       'Clyde', 'Richard', 'Shelly', 'Woman', 'Man', 'Sharon', 'Tom',
       'Linda', 'Crowd', 'Michael', 'Chris', 'Stewie', 'Soccer Captain',
       'Lois', 'Brian', 'Mr. T', 'Peter', 'Wendy', 'Principal Victoria',
       'al-Zawahri', 'Kenny', 'Sheila', 'Ike', 'Stephen', 'Mr. Mackey',
       'Gerald', 'Mayor McDaniels', 'Trooper', 'Stan', 'Randy', 'Jimbo',
       'Farmer', 'Prof. Thomas', 'Wife', 'Dylan', 'Mrs. Garrison', 'Kyle',
       'President Bush', 'FOX President', 'SNN Anchor', 'Cartman',
       'Announcer'], dtype=object)

In [12]:
len(df_character["Character"].unique())

92

In [13]:
df_character.reset_index(drop=True)

   Episode       Character
0        1           A Man
1        1   A Sign-Holder
2        1         Patrons
3        1       Townsfolk
4        1           A Boy
..     ...             ...
87       3  President Bush
88       3   FOX President
89       3      SNN Anchor
90       3         Cartman
91       3       Announcer

[92 rows x 2 columns]

In [14]:
df_final.to_csv('csv/south_park_dialogue.csv', index=False,)
df_character.to_csv('csv/south_park_character.csv', index=False,)

In [ ]:
import pymongo

In [ ]:
from pymongo import MongoClient

In [ ]:
client = MongoClient()

In [ ]:
db = client.shout_park

In [ ]:
coll_character = db.characters

In [ ]:
check = list(coll_character.find({"Character": "Chef"}))

In [ ]:
len(check)